@model Shamrock_WebSite.Models.TableReservation

@{
    var timeList = new List<string>() { "10:00", "10:30", "11:00", "11:30", "12:00", "12:30", "13:00", "13:30","14:00", "14:30", "15:00", "15:30",
                            "16:00", "16:30", "17:00", "17:30", "18:00", "18:30", "19:00", "19:30", "20:00", "20:30", "21:00", "21:30", "22:00", "22:30" };
}

@using (Ajax.BeginForm("Reserve", "Reservation", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "reservationDialog" }))
{
    @Html.HiddenFor(model => model.TableId)
    @Html.HiddenFor(model => model.Date)
        
    <div class="editor-label">
        @Html.LabelFor(model => model.Name)
        @Html.ValidationMessageFor(model => model.Name)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Name)
    </div>
    
    <div class="editor-label">
        @Html.LabelFor(model => model.PhoneNumber)
        @Html.ValidationMessageFor(model => model.PhoneNumber)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.PhoneNumber)
    </div>
    
    <div class="editor-label">
        @Html.LabelFor(model => model.Time)
        @Html.ValidationMessageFor(model => model.Time)
    </div>
    <div class="editor-field">
        @Html.DropDownListFor(model => model.Time, new SelectList(timeList))
    </div>
    
    <div class="editor-label">
        @Html.LabelFor(model => model.Wishes)
        @Html.ValidationMessageFor(model => model.Wishes)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Wishes)
    </div>
    
    <p>
        <input type="submit" value="@Resource.Save" class="bigButton"  />
    </p>
}